body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1d1d1d;
  color: white;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 25%;
  margin-bottom: 50%;
}
